* {
    margin: 0px;
    padding:0px; }

/*@font-face {
    font-family: "";
    src: url();
}*/

body {
    font-family: 'roboto', 'Verdana', Courier, monospace;
    font-weight:normal; }

/*Variavel*/
:root{
    --Cor-fundo: rgba(255,255,255);
    --Cor-fonte: rgba(255,255,255);
}


h3{
    font-size:32px;
    color: #20252a 
}



/* MENU */
#menu{
    display: block;
    width: 100%;
    margin-left: 3%;
}

#menu ul li {
    margin: 1%;
    display: inline-block;
}

#menu a {
    text-decoration: none;
}

#menu2{
    margin-left: 10%;
}


/*botões*/

.btn1{
    border-radius: 45px;
    padding: 15px;
    font-weight: bold;
    font-size: 12pt;
    border-color: #F7F9FD;
    background-color: #fff;
}

.btn2{
    margin-left: 33%;
    border-radius: 45px;
    padding: 15px;
    font-weight: bold;
    font-size: 12pt;
    color: #20252a;
    background-color: #42ec9a;
    border:none;
}


.btns1{
    border-radius: 45px;
    padding: 20px;
    font-weight: bold;
    line-height:24px;
    font-size: 16px;
    color: #20252a;
    background-color: #42ec9a;
    border:none;
}



h1 {
    font-family: 'roboto';
    color: #00A868;
    margin: 0%;
    font-size: 28pt; 
}

a {
    color: rgb(0, 0, 0);

}







/* Section 1*/
#section1{
        color: #fff;
}

#containersection1{
    position: absolute;
    top: 250px;
    left: 50px; 
}

#h1section1{
    display: inline-block;
    color: #fff;
    line-height:56px;
    font-size: 48px; 
}

#containerimg{
    display: inline-block;
    position: relative; 
}
    
#imgpresentation{
    width: 100%;
}

.txtsection{
    font-size: 20px;
    margin: 1% 0 ;
    line-height: 25px;
    width: 38%;
}











/* Section 2*/

#section2{
    background-color: #F7F9FD;
    color: #000; }

.div-a2{
    margin-left: 200px;
    margin-bottom: 100px;
    margin-top: 10px;
    display:inline-block;
    height: 100%;
    width: 300px;
    color: #000; }

h2{
    margin-bottom: 10px;
    line-height:48px;
    font-size: 40px; }

.div-a2 p {
    margin: 0;
    font-size: 18px;;
    line-height: 30px; }

#btntaxas{
    line-height: 24px;
    margin-top: 24px;
    padding: 14px;
    border-radius: 32px;
    font-size: 16px;
    border:none;
    color: #20252a;
    background-color: #42ec9a;
}

.div-b2{
    margin-left: 200px;
    margin-top: 20px;
    display:inline-block;
    background-color: red;}


#video-maquininha{
    float: right; 
}









/* Section 3 img-left */

#section3{
    display: flex; }


#img-left3  {
    margin-left:200px;
    margin-top: 56px;
    border-radius:45px; }


#div-right3{
    margin-top: 140px;
    margin-left: 50px;
    width: 30%;
    float: right;
    color: #00734d; }







/* Section 3 img-right */
#section4 {
    display: inline-block;
    margin: 0px;
    margin-top: 100px;
}

#div-left4 {
    margin-top: 40px;
    width: 35%;
    height: 473px;
    margin-left: 180px;}

#txtSection4{
    margin: 0;
}

#img-right4{
    width: 427px;
    height: 427px;
    float:right;
    margin-right: 130px; }




#img-section5{
    margin-left: 180px;
    border-radius: 30px;
}


/* SECTION 6 img-left */
#section6{
    display: flex; }

#img-left6{
    margin-top: 100px;
    margin-left: 180px;
    border-radius: 30px; }

#div-right6{
 float: right;
 margin-top: 200px;
 width: 35%;
 margin-left: 50px; }





/* Section 7 */

#section7 {
    margin-top:10%; }


#div-left7{
    display: inline-block;
    background-color: #EFF4F8ed;
    border-radius:40px;
    width: 35%;
    height: 500px;
    margin-right: 10px;
    margin-left:10%; }


#div-right7{
    display: inline-block;

    background-color: #EFF4F8ed;
    border-radius:40px;
    width: 35%;
    height: 500px;
    margin-right: 10px;
    margin-left:5%;
}



footer{
    color: #fff;
    background-color: #20252A;
    width: 100%;
    height: 400px; }

/*footer h3, p{
    margin-left: 7%; }*/

footer h3 {
    margin-bottom: 7%;
    font-size: 24pt;
}